/*
 * SPDX-FileCopyrightText: 2023 Siemens AG
 *
 * SPDX-License-Identifier:
 *
 */

[Unit]
Description=CDM Device Class Driver Reference
After=network.target

[Service]
ExecStartPre=/bin/sh -c "systemctl set-environment CDM_DCD_IP=$(hostname -i)"
ExecStart=/usr/bin/cdm-dcd-reference --grpc-registry-address=localhost:50051 --grpc-server-address=${CDM_DCD_IP}:8080 --grpc-server-endpoint-address=${CDM_DCD_IP}
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target
