# SPDX-FileCopyrightText: 2023 Siemens AG
#
# SPDX-License-Identifier:
---
exclude: ^specs/
default_stages: [commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-ast
      - id: check-symlinks
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-json
      - id: check-xml
      - id: check-yaml
        exclude: "(cookiecutter-project-template/{{ cookiecutter.dcd_name }}/.goreleaser.yaml)"
      - id: detect-private-key
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: no-commit-to-branch # No (direct) commits to master
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/detailyang/pre-commit-shell.git
    rev: 1.0.5
    hooks:
      - id: shell-lint
        files: \.(sh|bash)$

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.4
    hooks:
      - id: forbid-crlf
        files: \.md$
      - id: remove-crlf
        files: \.md$
      - id: forbid-tabs
        exclude: "(.gitmodules|Makefile|makefile|.mk|go.mod)"
        exclude_types: [go]
      - id: remove-tabs
        exclude: "(.gitmodules|Makefile|makefile|.mk|go.mod)"
        exclude_types: [go]

  # Commitlint
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.13.0
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [push]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.35.0
    hooks:
      - id: markdownlint
