# SPDX-FileCopyrightText: {{cookiecutter.year}} {{cookiecutter.company}}
#
# SPDX-License-Identifier: MIT

name: {{ cookiecutter.al_project }}

on:
  push:
  pull_request:

permissions:
  contents: write
  packages: write

env:
  GO_LINT_VERSION: v2.8
  REGISTRY_IMAGE_URL: ghcr.io/industrial-asset-hub/iah/grpc-server-registry:0.1.14

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Prepare Environment
        uses: ./.github/actions/prepare
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: ${{'{{'}} env.GO_LINT_VERSION {{'}}'}}

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Prepare Environment
        uses: ./.github/actions/prepare
      - name: Build
        run: go build -v ./...
      - name: Docker Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{'{{'}} github.repository_owner {{'}}'}}
          password: ${{'{{'}} secrets.GITHUB_TOKEN {{'}}'}}

  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Prepare Environment
        uses: ./.github/actions/prepare
      - name: Run Unit Test
        run: go test -v ./...

  test-discovery:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Prepare Environment
        uses: ./.github/actions/prepare
      - name: Run Test Discovery
        run: bash ./test-asset-link.sh discover

  test-api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Prepare Environment
        uses: ./.github/actions/prepare
      - name: Run Test Api
        run: bash ./test-asset-link.sh discovery-api

  validate-asset:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Prepare Environment
        uses: ./.github/actions/prepare
      - name: Run Validate Asset
        run: |
            pip install --upgrade argcomplete
            pip install linkml-validator
            bash ./test-asset-link.sh validate-asset

  test-registration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Prepare Environment
        uses: ./.github/actions/prepare
      - name: Login to Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{'{{'}} github.actor {{'}}'}}
          password: ${{'{{'}} secrets.GITHUB_TOKEN {{'}}'}}
      - name: Pull gRPC Server Registry Image
        run: docker pull ${{'{{'}} env.REGISTRY_IMAGE_URL {{'}}'}}
      - name: Run gRPC Server Registry
        run: docker run -d --name grpc-server-registry -p 50051:50051 ${{'{{'}} env.REGISTRY_IMAGE_URL {{'}}'}}
      - name: Wait for gRPC Server Registry to Start
        run: timeout 30s bash -c 'until nc -z localhost 50051; do sleep 10; done'
      - name: Run Test Registration
        run: bash ./test-asset-link.sh registration

  release:
    runs-on: ubuntu-latest
    needs: [lint, build, unit-test, test-discovery, test-api, test-registration]
    if: github.event_name != 'pull_request' && github.ref_type == 'tag'
    steps:
      - uses: actions/checkout@v6
      - name: Prepare Environment
        uses: ./.github/actions/prepare
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Login to GitHub Container Registry (GHCR.io)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{'{{'}} github.actor {{'}}'}}
          password: ${{'{{'}} secrets.GITHUB_TOKEN {{'}}'}}
      - name: Release (official)
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{'{{'}} secrets.GITHUB_TOKEN {{'}}'}}

  release-dry-run:
    runs-on: ubuntu-latest
    needs: [lint, build, unit-test, test-discovery, test-api, test-registration]
    if: github.event_name == 'pull_request' || github.ref_type != 'tag'
    steps:
      - uses: actions/checkout@v6
      - name: Prepare Environment
        uses: ./.github/actions/prepare
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Release (dry-run)
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean --snapshot
        env:
          GITHUB_TOKEN: ${{'{{'}} secrets.GITHUB_TOKEN {{'}}'}}
